name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Make
        run: make
